<style>
.navbar-default{
	background-color:rgb(100,200,200)
	
}
</style>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/promoters">
        <i><b>Promoters</b></i>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="nav-item nav-link active" href="/promoters/read"><b>Read Me</b></a></li>
        <li><a class="nav-item nav-link active" href="/promoters/pred"><b>Server</b></a></li>
        <li><a class="nav-item nav-link" href="/promoters/supl"><b>Data</b></a></li>
        <li><a class="nav-item nav-link" href="/promoters/cite"><b>Citation</b></a></li>
        <li><a class="nav-item nav-link" href="/promoters/about"><b>About</b></a></li>
      </ul>
    </div>
  </div>
</nav>
