{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1><b>DNA Promoter Prediction Server</b></h1>
    <p class="lead" style="text-align: justify;">
        Promoter is a DNA sequence of 81bp – 1000bp nucleotides located at the upstream region of a gene. However, the limits of the promoter contribute to the challenge of Promoter Research Identification. The smallest promoter region is identified in the current analysis, which is known as core promoter. It ranges from -60 to +21 as compared to TSS which is located at +1.
        <br>
        <br>
        In recent past, several bioinformatics tools were developed to discriminate Promoters region to identify their strengths as well as types. However the need for improvement in the quality of its prediction method requires enhancements in its application value practically.
	</p>
  </div>
{% endblock %}
